@media (min-width: 768px) {
    nav {
        flex-direction: row;
    }
    #hamburger {
        display: none;
    }
    nav.hide {
        display: flex;
    }
    .temple-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}